absl-py==1.2.0
aiohttp==3.8.1
aiosignal==1.2.0
antlr4-python3-runtime==4.8
asttokens==2.0.5
async-timeout==4.0.2
attrs==22.1.0
autocfg==0.0.8
autogluon==0.5.2
autogluon-contrib-nlp==0.0.1b20220208
autogluon.common==0.5.2
autogluon.core==0.5.2
autogluon.features==0.5.2
autogluon.multimodal==0.5.2
autogluon.tabular==0.5.2
autogluon.text==0.5.2
autogluon.timeseries==0.5.2
autogluon.vision==0.5.2
backcall==0.2.0
biopython==1.79
blis==0.7.8
bokeh==2.0.1
boto3==1.24.43
botocore==1.27.43
cachetools==5.2.0
catalogue==2.0.8
catboost==1.0.6
certifi @ file:///opt/conda/conda-bld/certifi_1655968806487/work/certifi
charset-normalizer==2.1.0
click==8.0.4
cloudpickle==2.1.0
colorama==0.4.5
contextvars==2.4
convertdate==2.4.0
cycler==0.11.0
cymem==2.0.6
Cython==0.29.32
dask==2021.11.2
debugpy==1.6.2
decorator==5.1.1
Deprecated==1.2.13
distlib==0.3.5
distributed==2021.11.2
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.9.1
fair-esm @ git+https://kgithub.com/facebookresearch/esm.git@f07aed6d35f827416e6f02c4b934bdf4fae8b495
fairscale==0.4.6
fastai==2.7.7
fastcore==1.5.13
fastdownload==0.0.7
fastprogress==1.0.3
filelock==3.7.1
flake8==5.0.3
fonttools==4.34.4
frozenlist==1.3.0
fsspec==2022.7.1
future==0.18.2
gluoncv==0.10.5.post0
gluonts==0.9.6
google-auth==2.9.1
google-auth-oauthlib==0.4.6
graphviz==0.8.4
grpcio==1.43.0
HeapDict==1.0.1
hijri-converter==2.2.4
holidays==0.14.2
huggingface-hub==0.8.1
hyperopt==0.2.7
idna==3.3
imageio==2.21.0
imbalanced-learn==0.9.1
imblearn==0.0
immutables==0.18
importlib-metadata==4.12.0
ipykernel==6.15.1
ipython==8.4.0
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.0
jsonschema==4.9.0
jupyter-client==7.3.4
jupyter-core==4.11.1
keras==2.10.0
kiwisolver==1.4.4
korean-lunar-calendar==0.2.1
langcodes==3.3.0
lightgbm==3.3.3
llvmlite==0.39.0
locket==1.0.0
lxml==4.9.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mccabe==0.7.0
msgpack==1.0.4
multidict==6.0.2
murmurhash==1.0.7
mxnet==1.9.1
nest-asyncio==1.5.5
networkx==2.8.5
nlpaug==1.1.10
nltk==3.7
nptyping==1.4.4
numba==0.56.0
numpy==1.21.6
oauthlib==3.2.0
omegaconf==2.1.2
opencv-python==4.6.0.66
openpyxl==3.0.10
packaging==21.3
pandas==1.4.3
parso==0.8.3
partd==1.2.0
pathy==0.6.2
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.2
plotly==5.9.0
pmdarima==1.8.5
portalocker==2.5.1
preshed==3.0.6
prompt-toolkit==3.0.30
protobuf==3.18.1
psutil==5.8.0
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.5
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.0
pydantic==1.9.1
pyDeprecate==0.3.2
pyflakes==2.5.0
Pygments==2.12.0
PyMeeus==0.5.11
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
pytorch-lightning==1.6.5
pytorch-metric-learning==1.3.2
pytz==2022.1
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==23.2.0
ray==1.13.0
regex==2022.7.25
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.6.0
sacrebleu==2.2.0
sacremoses==0.0.53
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.7.3
sentencepiece==0.1.95
sequence-models @ git+https://github.com/microsoft/protein-sequence-models.git@885a24f9802aaf63bb6b554d43f912a269781514
six==1.16.0
sktime==0.11.4
smart-open==5.2.1
sortedcontainers==2.4.0
spacy==3.4.1
spacy-legacy==3.0.9
spacy-loggers==1.0.3
srsly==2.4.4
stack-data==0.3.0
statsmodels==0.13.2
tabulate==0.8.10
tbats==1.1.0
tblib==1.7.0
tenacity==8.0.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
thinc==8.1.0
threadpoolctl==3.1.0
tifffile==2022.7.31
timm==0.5.4
tokenizers==0.12.1
toolz==0.12.0
torch==1.12.0+cu113
torchmetrics==0.7.3
torchtext==0.13.0
torchvision==0.13.0+cu113
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
transformers==4.20.1
typer==0.4.2
typing_extensions==4.3.0
typish==1.9.3
urllib3==1.26.11
virtualenv==20.16.2
wasabi==0.10.1
wcwidth==0.2.5
Werkzeug==2.2.1
wrapt==1.14.1
xgboost==1.4.2
yacs==0.1.8
yarl==1.8.1
zict==2.2.0
zipp==3.8.1
